footer{
    display: grid;
    grid-template-columns: 80% 20%;
    background-image: linear-gradient(rgb(19, 163, 163), rgb(6, 78, 78));
    color: honeydew;

    .fa {
        padding: 10px;
        font-size: 30px;
        width: 50px;
        height: 50px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 25px;
        
    }


    .fa-instagram {
        background: linear-gradient(purple, yellow);
        color: white;
    }

    .fa-facebook {
        background: #3B5998;
        color: white;
          }
          
    .fa-twitter {
        background: #55ACEE;
        color: white;
        }
}

footer a{
    color: rgb(18, 18, 53);
}