.formulario{
    max-width: 600px;
    margin: 2rem auto;
    border: 2px solid $main-font-color;
    padding: 2rem;
    background: linear-gradient($color-secondary, grey);

label{
    display: block;
    padding: 10px 0 0 0;
}

input {
    display: block;
    border: 1px solid black;
    padding: 5px 0 0 0;
    border-radius: 5px;
}


}

#sendBtn{
    border: 0;
    background: $color-secondary;
    color: $main-font-color;
    padding: 5px;
    font-weight: bold;
    border-radius: 5px;
    &:hover{
        background: rgb(113, 75, 139);
    }

}