.carouselheight{
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .carousel-caption {
    background-color: rgba(6, 78, 78, 0.5);
    color: white;
}

.testimonios{
  text-align: center;
}

.imagenesTestimonios{
  display: grid;
  grid-template-columns: 2, 1fr;
  grid-template-rows: minmax(100px, auto);
  row-gap: 10px;
}

.testuno{
  grid-column: 1 / 1;
  grid-row: 1;
}

.testdos{
  grid-column: 2;
  grid-row: 1;
}

.testtres{
  grid-column: 1;
  grid-row: 2;
}

.testcuatro{
  grid-column: 2;
  grid-row: 2;
}