/*Media queries*/
header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#064e4e), to(#13a3a3));
  background-image: linear-gradient(#064e4e, #13a3a3);
  height: 10vh;
  width: 100%;
  position: relative;
  margin-bottom: 2%;
}

header nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px;
  display: inline-block;
  box-align: center;
  font-family: 'Cormorant', serif;
  font-weight: bolder;
}

nav {
  float: left;
  margin: 0;
  overflow: hidden;
  text-align: center;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
}

nav > ul > li > a {
  color: whitesmoke;
  display: block;
  line-height: 2em;
  padding: 0.5em 1em;
  text-decoration: none;
}

.logo-img {
  float: right;
  position: relative;
  margin: 10px 15px 15px 10px;
  width: 10vw;
  height: auto;
}

.bg-div {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#064e4e), to(#13a3a3));
  background-image: linear-gradient(#064e4e, #13a3a3);
  overflow: hidden;
}

.carouselheight {
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.carousel-caption {
  background-color: rgba(6, 78, 78, 0.5);
  color: white;
}

.testimonios {
  text-align: center;
}

.imagenesTestimonios {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2, 1fr;
      grid-template-columns: 2, 1fr;
  -ms-grid-rows: minmax(100px, auto);
      grid-template-rows: minmax(100px, auto);
  row-gap: 10px;
}

.testuno {
  -ms-grid-column: 1;
  grid-column: 1 / 1;
  -ms-grid-row: 1;
  grid-row: 1;
}

.testdos {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
}

.testtres {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  grid-row: 2;
}

.testcuatro {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
}

footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80% 20%;
      grid-template-columns: 80% 20%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#13a3a3), to(#064e4e));
  background-image: linear-gradient(#13a3a3, #064e4e);
  color: honeydew;
  font-size: 16px;
}

footer .fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 25px;
}

footer .fa-instagram {
  background: -webkit-gradient(linear, left top, left bottom, from(purple), to(yellow));
  background: linear-gradient(purple, yellow);
  color: white;
}

footer .fa-facebook {
  background: #3B5998;
  color: white;
}

footer .fa-twitter {
  background: #55ACEE;
  color: white;
}

footer a {
  color: #121235;
}

.menuRecetas li a {
  color: black;
}

.recetas {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  row-gap: 20px;
  border: 15px solid wheat;
  color: whitesmoke;
  font-size: 1.1rem;
}

.recetas__item {
  background: -webkit-gradient(linear, left top, left bottom, from(#712ea1), to(grey));
  background: linear-gradient(#712ea1, grey);
  border: 0.5px solid white;
}

.recetas__img {
  border: 1px solid #712ea1;
}

.team {
  width: 200px;
  background-color: lightslategray;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid black;
  margin-right: 10px;
  border-radius: 8px;
  display: inline-block;
}

.team--2 {
  background-color: mediumspringgreen;
}

.team--3 {
  background-color: lightsteelblue;
}

.team__photo {
  width: 100%;
  display: block;
  border-radius: 50%;
}

.team__name {
  font-weight: bold;
  text-align: center;
  font-size: 1.2rem;
  padding: 10px 0;
}

.button {
  width: 100%;
  color: black;
  background-color: darkslateblue;
  padding: 7px;
  border: none;
  outline: none;
  cursor: pointer;
}

h2 {
  text-decoration: underline;
  font-weight: bold;
}

.tituloAbout {
  text-decoration: underline;
  font-weight: bolder;
}

.team:hover {
  -webkit-transform: scale(2);
          transform: scale(2);
}

.formulario {
  max-width: 600px;
  margin: 2rem auto;
  border: 2px solid black;
  padding: 2rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#712ea1), to(grey));
  background: linear-gradient(#712ea1, grey);
}

.formulario label {
  display: block;
  padding: 10px 0 0 0;
}

.formulario input {
  display: block;
  border: 1px solid black;
  padding: 5px 0 0 0;
  border-radius: 5px;
}

#sendBtn {
  border: 0;
  background: #712ea1;
  color: black;
  padding: 5px;
  font-weight: bold;
  border-radius: 5px;
}

#sendBtn:hover {
  background: #714b8b;
}

.noticias {
  display: -ms-grid;
  display: grid;
  width: 70%;
  row-gap: 15px;
}

.noticias__post {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1, 2;
      grid-template-rows: 1, 2;
  border: black solid 3px;
  border-radius: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.noticias__link {
  font-size: 1.3rem;
  font-weight: bolder;
  color: black;
}

.noticias__img {
  border-radius: 15px;
  border: 1px solid black;
  width: 80%;
  height: auto;
}

.noticias__post--ultima {
  font-weight: bolder;
  background-color: #c01f1f;
  text-transform: uppercase;
  border-radius: 15px;
}

.presBlog {
  text-decoration: none;
  font-weight: lighter;
}

.productos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-gap: 15px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.productos_item {
  width: 100%;
  height: 100%;
}

.card {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.error {
  background-color: grey;
  margin-left: auto;
  margin-right: auto;
}

.error h1 {
  text-align: center;
}

body {
  background-color: #c9c9c9;
  color: black;
  overflow-x: hidden;
  font-family: 'Cormorant', serif;
  font-size: 20px;
  height: 80vh;
}

img {
  max-width: 100%;
  height: auto;
}

@media only screen and (max-device-width: 640px) {
  body {
    font-size: 14px;
  }
  header {
    position: fixed;
    z-index: 999;
    width: 100%;
  }
  /*Responsive Nav*/
  nav {
    position: absolute;
    text-align: left;
    left: 0;
    display: none;
  }
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#064e4e), to(#13a3a3));
    background-image: linear-gradient(#064e4e, #13a3a3);
  }
  nav li {
    margin-bottom: 1em;
    margin-left: 1em;
  }
  nav a {
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
  }
  .nav-toggle:checked ~ nav {
    display: block;
  }
  .nav-toggle {
    display: none;
  }
  .nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    border: 1px green;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-toggle-label span,
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
  }
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    content: "";
    position: absolute;
  }
  .nav-toggle-label span::before {
    bottom: 7px;
  }
  .nav-toggle-label span::after {
    top: 7px;
  }
  .logo-img {
    width: 15vw;
  }
  main {
    margin-top: 70px;
  }
  /*Corregir recetas para mobile*/
  .recetas {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 50%, 50%;
        grid-template-rows: 50%, 50%;
  }
  /*Blog responsive*/
  .noticias {
    width: 100%;
  }
}

@media only screen and (min-device-width: 641px) and (max-device-width: 1023px) {
  body {
    font-size: 18px;
  }
  .nav-toggle {
    display: none;
  }
}

@media only screen and (min-device-width: 1024px) {
  body {
    font-size: 20px;
  }
  .nav-toggle {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */