

@import "variables";
@import "nav";
@import "home";
@import "footer";
@import "recetas";
@import "team";
@import "formulario";
@import "post";
@import "productos";
@import "error";


body{
    background-color: $background-color;
    color: $main-font-color;
    overflow-x: hidden;
    font-family: 'Cormorant', serif;
    font-size: 20px;
    height: 80vh;
}

img {
  max-width: 100%;
  height: auto;
}

@import "mediaqueries";